@media (max-width: 992px){
    header{
            display: none;
        }

        #second_heading .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
        }

        #second_heading .container .mobile_menubar{
            display: flex;
            align-items: center;
            line-height: 0;
        }

        #offcanvasExample{
            max-width: 350px;
            width: 100%;
            background: transparent;
            backdrop-filter: blur(10px);
        }

        .mobile_menubar span{
            cursor: pointer;
        }

        .mobile_menubar span:hover{
            background-color: #00B207;
            color: whitesmoke;
            border-radius: 5px;
            transform: scale(1.1);
        }

        .offcanvas .mobile_toggle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 20px;
            box-shadow: rgba(0, 0, 0, 0.23) 10px 4px 12px;
            border-radius: 10px;
            margin: 5px 0;
            font-weight: bolder;
            color: black;
            background-color: rgba(245, 245, 245, 0.408);
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .offcanvas .mobile_toggle:hover{
            background-color: #aadbab;
        }

        .dropdown-toggle::after{
            display: none;
        }

        .offcanvas-header img{
            background-color: rgba(245, 245, 245, 0.408);
            padding: 10px;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.23) 10px 4px 12px;
        }

        .offcanvas-header .btn-close{
            box-shadow: rgba(0, 0, 0, 0.23) 10px 4px 12px;
            border-radius: 50%;
            padding: 3px;
            background-color: rgba(245, 245, 245, 0.71);
        }

        .offcanvas-header .btn-close:hover{
            background-color: whitesmoke;
            transform: scale(1.2);
            border: none;
        }

        .offcanvas .dropdown-menu{
            width: 100%;
            margin: 0;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.23) 10px 4px 12px;
            background-color: rgba(245, 245, 245, 0.912);
        }

        .offcanvas .dropdown-menu a{
            font-weight: bold;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .offcanvas .dropdown-menu a:hover{
            background-color: #aadbab;
            border-radius: 10px;
            color: white;
            font-weight: bold;
        }

        .offcanvas .dropdown-menu a{
            padding: 10px;
        }

        #heading_page{  
            width: 100%;
            padding-top: 10px;
            display: flex;
            justify-content: start;
            align-items: start;
            text-align: start;
        }

        #heading_page .breadcrumb {
            padding-left: 0px;
            padding-top: 20px;
            justify-content: center;
            align-items: center;
        }

        #heading_page .breadcrumb a{
            font-size: 12px;
        }

        #heading_page .breadcrumb span{
            font-size: 12px;
        }

        #heading_page .breadcrumb h4{
            font-size: 12px;
        }

        #details_product .slider-for .single_item{
            display: flex !important;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 20px;
        }

        .magnifier{
            left: 50% !important;
            transform: translateX(-50%);
            border: 1px solid #00B207 !important;
            box-shadow: rgba(0, 0, 0, 0.23) 10px 4px 12px;
            border-radius: 8px;
        }

        #information .container .info_btns{
            width: 130%;
            transform: translateX(-11%); 
        }

        #details_product .container .row .details_content{
            width: 100%;
        }

        #details_product .container .row .details_content h4{
            font-size: 24px !important;
            justify-content: center !important;
        }

        #details_product .container .row .details_content p{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #details_product .container .row .details_content .icons{
            justify-content: center !important;
        }

        #details_product .container .row .details_content .icons h4{
            font-size: 12px !important;
        }

        #details_product .container .row .details_content .price{
            width: 100%;
            justify-content: center !important;
        }

        #details_product .container .row .details_content .price del{
            font-size: 20px !important;
        }

         #details_product .container .row .details_content .price h4{
            font-size: 20px !important;
        }


        #details_product .container .row .details_content .social{
            width: 100%;
        }

        #details_product .container .row .details_content .brand{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #details_product .container .row .details_content .social .social_media{
            width: 100%;
            display: flex;
            justify-content: center !important;
            align-items: center;
        }

        #details_product .container .row .details_content .social .social_media h4{
            font-size: 12px !important;
        }

        #details_product .container .row .details_content .add_cart{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #details_product .container .row .details_content .add_cart .add{
            width: 30% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px !important;
        }

        #details_product .container .row .details_content .add_cart .add span{
            width: 20px;
            height: 20px;
        }

        #details_product .container .row .details_content .add_cart .btn{
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #details_product .container .row .details_content .add_cart .btn a{
            padding: 15px 20px !important;
            font-size: 12px !important;
        }

        #details_product .container .row .details_content .add_cart .btn a span{
            padding-left: 5px !important;
        }

        #details_product .container .row .details_content .add_cart .btn a .icon1{
            display: none;
        }

        #details_product .container .row .details_content .add_cart .btn .icon2{
            display: unset !important;
        }

        #details_product .container .row .details_content .add_cart .Wish{
            width: 10% !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #details_product .container .row .details_content .tags{
            width: 100%;
            justify-content: center !important;
        }

        #details_product .container .row .details_content .tags h4{
            font-size: 12px !important;
        }

        #details_product .container .row .details_content .tags h4 span{
            font-size: 11px !important;
        }

        #details_product .container .row .details_content .tags h4 span a{
            font-size: 11px !important;
        }

        #information .container .info_btns button{
            font-size: 12px;
            padding: 8px;
            box-shadow: rgba(0, 0, 0, 0.23) 10px 4px 12px;
        }

        #information .container .info h4{
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #information .container .filter{
            width: 100%;
        }

        #information .container .video .play{
            width: 120%;
            margin-left: 0px;
            transform: translateX(-8%);
        }

        #information .video .play .venobox .icon1{
            display: none;
        }

        #information .video .play .venobox span{
            width: 30px;
            height: 30px;
        }

        #information .video .play .venobox .icon2{
            display: flex;
        }

        #information .container .video .contains{
            justify-content: center;
            align-items: center;
            text-align: center;
            box-shadow: rgba(0, 0, 0, 0.23) 10px 4px 12px;
        }

        #information .info2 .col-xl-4{
            width: 30%;
        }

        #information .info2 .col-xl-8{
            width: 70%;
        }

        #information .info3{
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #information .info3 .part1{
            width: 60%;
        }

        #information .info3 .part2{
            width: 40%;
        }

        #information .info3 .row .btn {
            transform: translateX(60%);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #product_slider .container{
            padding-top: 20px;
            padding-bottom: 20px;
        }

        #product_slider .container .heading h4{
            font-weight: 600;
            font-size: 18px;
        }
        
        #subcribe{
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }

        #subcribe .container{
            width: 100%;
        }

        #subcribe .col-xl-4{
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #subcribe .col-xl-5{
            padding: 30px;
            width: 100%;
            display: unset;
        }

        #subcribe .col-xl-5 form{
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #subcribe .container .row .col-xl-5 input{
            padding: 5px 20px 10px 20px;
            width: 291px;
            height: 25px;
        }

        #subcribe .container .row .col-xl-5 input::placeholder{
            font-size: 12px;
        }

        #subcribe .container .row .col-xl-5 form a{
            font-size: 12px;
            color: #fff;
            height: 25px;
            padding: 2px 20px 10px 20px;
            position: absolute;
            transform: translateX(-100%);
            margin-top: 2px;
        }

        #subcribe .col-xl-3{
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #footer{
            width: 100%;
            height: 100%;
            padding: 20px;
        }

        #footer .container{
            width: 140%;
            transform: translateX(-14%);
        }


        #footer .container .col-xl-4 h4{
            font-size: 16px;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #footer .container .col-xl-4 p{
            font-size: 12px;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #footer .container .col-xl-4 h4 span{
            margin-top: 0px;
        }

        #footer .container .col-xl-2{
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }


        #footer .container .col-xl-2 h4{
            font-size: 12px;
        }



        #footer .container .col-xl-2 li a{
            font-size: 10px;
        }

        #footer .container .col-xl-2{
            width: 25%;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 5px;
        }

        #footer .container .col-xl-3{
            width: 100%;
            text-align: center;
        }

        #footer .container .col-xl-3 a{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #footer .container .col-xl-3 span{
                margin-bottom: 20px;
        }

        #footer .social_media{
            padding-top: 50px;
            padding-bottom: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #footer .title{
            text-align: center;
            padding: 20px 10px 10px 20px !important;
        }

        #footer .payment_method .img{
            padding: 10px 20px 10px 20px !important;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }