@media (max-width: 992px){
    header{
        display: none;
    }

    #second_heading .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    #second_heading .container .mobile_menubar{
        display: flex;
        align-items: center;
        line-height: 0;
    }

    #offcanvasExample{
        max-width: 350px;
        width: 100%;
        background: transparent;
        backdrop-filter: blur(10px);
    }

    .mobile_menubar span{
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .mobile_menubar span:hover{
        background-color: #00B207;
        color: whitesmoke;
        border-radius: 5px;
        transform: scale(1.1);
    }

    .offcanvas .mobile_toggle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        box-shadow: rgba(0, 0, 0, 0.23) 10px 4px 12px;
        border-radius: 10px;
        margin: 5px 0;
        font-weight: bolder;
        color: black;
        background-color: rgba(245, 245, 245, 0.408);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .offcanvas .mobile_toggle:hover{
        background-color: #aadbab;
    }

    .dropdown-toggle::after{
        display: none;
    }

    .offcanvas-header img{
        background-color: rgba(245, 245, 245, 0.408);
        padding: 10px;
        border-radius: 10%;
        box-shadow: rgba(0, 0, 0, 0.23) 10px 4px 12px;
    }

    .offcanvas-header .btn-close{
        box-shadow: rgba(0, 0, 0, 0.23) 10px 4px 12px;
        border-radius: 50%;
        padding: 3px;
        background-color: rgba(245, 245, 245, 0.71);
    }

    .offcanvas-header .btn-close:hover{
        background-color: whitesmoke;
        transform: scale(1.2);
        border: none;
    }

    .offcanvas .dropdown-menu{
        width: 100%;
        margin: 0;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.23) 10px 4px 12px;
        background-color: rgba(245, 245, 245, 0.912);
    }

    .offcanvas .dropdown-menu a{
        font-weight: bold;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .offcanvas .dropdown-menu a:hover{
        background-color: #aadbab;
        border-radius: 10px;
        color: white;
        font-weight: bold;
    }

    .offcanvas .dropdown-menu a{
        padding: 10px;
    }

    #banner .container {
        z-index: -23 !important;
    }

    #banner .slider .offer {
        left: 85%;
        top: 0%;
        z-index: 55 !important;
        width: 80px;
        height: 80px;
    }

    #banner .offer h3{
        font-size: 28px;
    }

    #banner .offer p{
        font-size: 12px;
    }

    #banner .contains {
        text-align: center;
    }

    #banner .contains h2 {
        font-size: 40px;
    }

    #banner .contains p {
        font-size: 14px;
    }

    #banner .contains a{
        margin-bottom: 20px;
    }

    #banner .next{
        right: -.5%;
        top: -.5%;
        backdrop-filter: blur(5px);
        background-color: transparent;
    }

    #banner .next:hover{
        background-color: #00B207;
        color: whitesmoke;
        backdrop-filter: blur(0px);
    }

    #banner .prev{
        left: -2%;
        top: -2%; 
        backdrop-filter: blur(5px);
        background-color: transparent;
        position: unset;
    }

    #banner .prev:hover{
        background-color: #00B207;
        color: whitesmoke;
        backdrop-filter: blur(0px);
    }

    #banner .slick-dots{
        margin-right: 25px;
    }

    #banner .slick-dots:hover{
        transform: scale(1.2);
    }

}