:root{
    --gren-gray-scale-900: #002603;
    --gren-gray-scale-800: #173b1a;
    --gren-gray-scale-700: #2b572e;
    --gren-gray-scale-600: #406b42;
    --gren-gray-scale-500: #618062;
    --gren-gray-scale-400: #7a997c;
    --gren-gray-scale-300: #96b297;
    --gren-gray-scale-200: #b4ccb4;
    --gren-gray-scale-100: #dae5da;
    --gren-gray-scale-50: #edf2ee;
    --gray-scale-gray--900: #1a1a1a;
    --gray-scale-gray--800: #333;
    --gray-scale-gray--700: #4d4d4d;
    --gray-scale-gray--600: #666;
    --gray-scale-gray--500: #808080;
    --gray-scale-gray--400: #999;
    --gray-scale-gray--300: #b3b3b3;
    --gray-scale-gray--200: #ccc;
    --gray-scale-gray--100: #e6e6e6;
    --gray-scale-gray--50: #f2f2f2;
    --gray-scale-white: #fff;
    --branding-success-bright: #84d187;
    --branding-success: #00b207;
    --branding-success-dark: #2c742f;
    --branding-warning: #ff8a00;
    --branding-error: #ea4b48;
    --font-family: "Poppins", sans-serif;
    --second-family: "Segoe Script", sans-serif;
    --third-family: "Dancing Script", sans-serif;
}

body{
    font-family: var(--font-family);
}

header{
    background-color: #333333;
    padding: 13px 0;
    color: var(--gray-scale-gray--300);
}

header .first_heading_01{
    display: flex;
    align-items: center;
    height: 100%;
}

header .first_heading_01 span{
    display: flex;
    align-items: center;
    margin-right: 8px;
}

header .first_heading_01 p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: var(--gray-scale-gray--300);
}

header .first_heading_02{
    display: flex;
    justify-content: end;
}

header .first_heading_02 select{
    background: transparent;
    border: 1px solid hsla(0, 0%, 100%, 0.13);
    outline: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: var(--gray-scale-gray--300);
    color: var(--gray-scale-gray--300);
}

header .first_heading_02 select:hover{
    color: #00B207;
}

header .first_heading_02 .sign{
    padding-left: 10px;
}

header .first_heading_02 .sign a:hover{
    color: #00B207;
}

header .first_heading_02 .sign a{
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: var(--gray-scale-gray--300);
}

#second_heading .second_heading_01 input{
    width: 80%;
    padding: 12px 12px 12px 40px;
    border: 1px solid #808080;
    border-radius: 6px 0 0 6px;
}

#second_heading .second_heading_01 input:focus{
    outline: none;
}

#second_heading .second_heading_01 form{
    position: relative;
    display: flex;
}

#second_heading .second_heading_01 form span{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    color: #1A1A1A;
}

#second_heading .second_heading_01 button{
    background-color: #00B207;
    border: none;
    display: inline-block;
    padding: 12px;
    border-radius: 0 6px 6px 0;
    width: 20%;
    color: #fff;
}

#second_heading .icon01{
    color: #1A1A1A;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

#second_heading .icon01:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: #00B207;
}

#second_heading .icon02{
    color: #1A1A1A;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    margin-right: 12px;
}

#second_heading .counter:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#second_heading .counter .icon02:hover{
    color: #00B207;
}

#second_heading .carts p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 120%;
    color: var(--gray-scale-gray--700);
}

#second_heading .carts b{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: var(--gray-scale-gray--900);
}

#second_heading .counter{
    position: relative;
}

#second_heading .counter span:last-child{
    position: absolute;
    top: 0;
    right: 8px;
    display: flex;
    height: 18px;
    width: 18px;
    background-color: #2C742F;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    color: var(--gray-scale-white);
    border: 1px solid #fff;
}

#nav .desktop-dropdown {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: var(--gray-scale-white);
    line-height: 150%;
    padding: 17px 24px;
    background: #00B207;
    border-radius: 0;
    border: none;
    display: inline-flex;
    align-items: center;
}

#nav .desktop-dropdown span {
    display: inline-flex;
    align-items: center;
}

#nav .desktop-dropdown::after {
    display: none;
}

#nav .items_categories {
    padding: 0 8px;
}

#nav .desktop-dropdown .dropdown-menu.show{
    width: 210px;
}

#nav .dropdown-menu.show {
    display: block;
    background: #fff;
    border: none;
    border-radius: 0;
    padding: 10px 7.5px;
    margin: 0;
    box-shadow: rgba(105, 105, 105, 0.2) 0px 2px 8px 0px;
}

#nav .dropdown-menu.show a {
    display: inline-block;
    padding: 8px 16px;
}

#nav ul li a:hover {
    color: #00B207;
}

#nav ul li a {
    padding: 0 16px;
}

#nav .contactinfo a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray--900);
    text-decoration: none;
    padding-left: 5px;
}

#nav .contactinfo {
    display: inline-flex;
    align-items: center;
}

#nav .contactinfo:hover{
    color: #00B207;
    transform: scale(1.1);
}

#nav .contactinfo span{
    line-height: 0;
}

#mobile_footer_bar {
    position: fixed;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.23) 0px 4px 12px;
    width: 100%;
    z-index: 3 !important;
    background: #fff;
}

#mobile_footer_bar .contains{
    text-align: center;
    padding: 0;
}

#mobile_footer_bar .contains span{
    color: #00B207;
    display: inline-flex;
    align-items: center;
}

#mobile_footer_bar .contains p{
    margin-bottom: 0;
}

#mobile_footer_bar .footer_icons{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20%;
    width: 40px;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mobile_footer_bar .contains{
    position: relative;
}

#mobile_footer_bar .contains .footer_cart{
    position: absolute;
    top: 15%;
    right: 15%;
    display: flex;
    height: 18px;
    width: 18px;
    background-color: #2C742F;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    color: var(--gray-scale-white);
    border: 1px solid #fff;
}

#mobile_footer_bar .footer_icons:hover{
    transform: scale(1.1);
    background-color: #00B207;
    color: white;
}

#mobile_footer_bar .mobile-search{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mobile_footer_bar .mobile-search:hover{
    transform: scale(1.2);
    background-color: #00B207;
    color: white;
}

#search{
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #d7e7d7;
    height: 0vh;
    width: 100%;
    top: -60px;
    transition: 0.5s;
    z-index: 2;
}

#search.search_active{
    height: 100vh;
    transition: 0.5s;
}

#search form input{
    width: 100%;
    padding: 12px;
    background: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#search form input:focus{
    outline: none;
}

#search form input:hover{
    border: 1px solid #000601;
}

#search form button{
    display: inline-flex;
    position: absolute;
    right: 5%;
    top: 47%;
    align-items: center;
    background: transparent;
    border: none;
    color: rgb(74, 120, 82);
    width: 40px;
    height: 40px;
}

#search .img{
    position: absolute;
    left: 3%;
    top: 13%;
}

#search .search-close{
    position: absolute;
    right: 5%;
    top: 13%;
    color: rgb(0, 0, 0);
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 50%;
}

#search .search-close:hover{
    transform: scale(1.2);
    background-color: whitesmoke;
    color: #00B207;
    border: none;
}

